.navbar {
  font-family: var(--tthoves);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.image_container {
  padding-left: 6rem;
}


@media (max-width: 834px) {
  .navbar {
    flex-wrap: nowrap;
  }  

  .image_container {
    padding-left: 0.3rem;
  }  
}


@media (max-width: 414px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    gap: 35%;
    position: relative;
    width: 100%;
    top: -15px;
    flex-wrap: nowrap;
  }
  .image_container {
    padding: 0;
    z-index: -1;
  }

}
